<!doctype html> <html> <head> <meta charset="utf-8"> <title>Ran Masters</title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.9f8805c4.css"> <link rel="stylesheet" href="styles/main.53e95225.css"> </head> <body ng-app="ranmasterApp"> <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]--> <!-- Add your site or application content here --> <header> <div class="container"> <div class="headerWrapper"> <div class="logowrapper lfloat"> <img src="./images/logo.7e3093fa.png"> </div> <div class="menuwrapper lfloat"> <div class="menu"> <ul class="lmenu"> <li> <a ui-sref="home"> <i class="fa fa-home"></i> HOME</a> </li> <li> <a ui-sref="download"> <i class="fa fa-download"></i> DOWNLOAD</a> </li> <li> <a ui-sref="ranking"> <i class="fa fa-th-list"></i> RANKING</a> </li> <li> <a ui-sref="home.server"> <i class="fa fa-server"></i> SERVER</a> </li> <li ng-if="!islogin"> <a ui-sref="register"> <i class="fa fa-user-plus"></i> REGISTER</a> </li> <li ng-if="islogin"> <a ui-sref="member"> <i class="fa fa-user"></i> MEMBER</a> </li> </ul> </div> </div> </div> </div> </header> <div class="sliderwrapper"> <div class="container"> <div class="slider"> <img src="./images/slider1.976fdc8a.png"> </div> <div ui-view></div> <footer> <div class="footercontent"> <div class="lfloat"> <div class="iconL lfloat"> </div> <div class="infoL lfloat"> <p> Developed by Tearhear18</p> <small><a class="link" href="https://www.facebook.com/ramel.p.cabugos">Tearhear18 | angularJS</a></small> </div> </div> <div class="rfloat"> <div class="iconR lfloat"> </div> <div class="infoR lfloat"> <p> All right reserved 2015 @ Ran Online Philippines</p> <small>Ran Online Gaming Network</small> </div> </div> </div> </footer> </div> </div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID --> <script>// !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       // (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       // r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       // }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       // ga('create', 'UA-XXXXX-X');
       // ga('send', 'pageview');</script> <script src="scripts/vendor.e1faf971.js"></script> <script src="scripts/scripts.c37d2b06.js"></script> </body> </html>